.settings
.classpath
.project
.idea
.ipynb_checkpoints
*/.ipynb_checkpoints
__pycache__
*/__pycache__

.DS_Store
*/DS_Store

*.pth
*.pt

*.zip
*.rar
*.7z

*.apk
*.obb

insect-dataset/*
!insect-dataset/src/
insect-dataset/src/*
!insect-dataset/src/*.json

models/images.*